:root{
    --head-color:navy;
    --border-color:lightgrey;
}

*{
    text-align: center;
    font-size: 1rem;
}

h1{
    font-size: 2rem;
    color:var(--head-color);
}

#add{
    border:1px solid var(--border-color);
    border-radius:5px;
    height:5vh;
    width:15vw;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-top:8vh;
    margin-left:8vw;
    margin-right:8vw;
    border-bottom: 1px solid var(--border-color);
    border-left:1px solid var(--border-color);
    border-top:1px solid var(--border-color);
    padding-left:5vw;
    border-right:1px solid var(--border-color);
    padding-right:5vw;
    padding-bottom:5vh;
    overflow: auto;
}

#add:hover{
    height:8vh;
    width:20vw;
}

div{
    border:1px solid var(--border-color);
    border-radius: 3px;
    background-color: lightgray;
    width:20vw;
    text-align: center;
}

